@charset "utf-8";
/* CSS Document */
.cell_1{
  width:204px;
  height:290px;
  background:#FFF;
  float:left;
  box-shadow:0px 3px rgba(0,0,0,0.1);
  margin-left:24px;
  margin-bottom:20px;
}
/*.cell_2{
  width:204px;
  height:290px;
  background:#FFF;
  float:left;
  box-shadow:0px 3px rgba(0,0,0,0.1);
  margin-left:35px;
  margin-bottom:20px;
}
.cell_3{
  width:204px;
  height:290px;
  background:#FFF;
  float:left;
  box-shadow:0px 3px rgba(0,0,0,0.1);
  margin-left:35px;
  margin-bottom:20px;
}*/
.yq a{
  display:block;
  margin-top:-18px;
  text-align:center;
}
.yq p{
  width:204px;
  text-align:center;
  font-size:16px;
  float:left;
  line-height:30px;
  margin-top:5px;
}
.yq span{
  color:#000000;
  font-weight:bold;
}
#page{ 
  height:50px;
  width:708px;
  margin:auto;
  float:left;
  margin:245px 0 0 90px;
}
#page ul{
  height:30px;
  width:400px; 
  margin:auto;
}
#page ul li{
  list-style:none; 
  float:left; 
  margin-right:15px; 
}
#page ul li a{ 
  border:1px #F60 solid;
  padding:0px 6px; 
  display:block;
  color:#000000;
  background:url(../images/page.png);
}
#page ul li a:hover{ 
  background:#ccc;
  color:#333; 
  display:block; 
  border:1px #666 solid;
}



