*{
  margin:0;
  padding:0;
}
body{
  margin:0 auto;
  background: #FFFFFF url(../images/bg.png) no-repeat;
  font-size:12px;
  color:#616161;
  background—size:100%;
}
ul{
  list-style-type:none;
}
a{
  text-decoration:none;
  color:#FFFFFF;
}
a:hover{
  text-decoration:underline;
}
#header{
  width:1366px;
  height:89px; 
  margin:0 auto;
}
h1{ 
  width:197px; 
  height:75px; 
  float:left; 
  margin-top:5px;
  margin-left:180px;
}
#header ul{
  width:180px; 
  height:22px; 
  list-style-type:none; 
  float:right;
  margin:10px 30px 0px 0px;
}
#header ul li{  
  line-height:22px; 
  display:inline-block; 
  text-align:center;
}
#header ul li.aa{
  margin-left:25px;
}
#header ul li a{ 
  color:#000000; 
  text-decoration:none; 
  font-size:14px;
}
#header ul li a:hover{ 
  color:#000000; 
  text-decoration:underline; 
  font-weight:bold;
}
#nav{
  width:980px;
  height:43px;
  margin:-1px auto;
}
#nav ul li{
  width:140px;
  height:43px;
  background:url(../images/nav.png);
  line-height:28px;
  float:left;
  text-align:center;
  font-size:16px;
  font-weight:bold;
}
#nav ul li a{
  color:#FFFFFF;
  display:block;
}
#nav ul li a:hover{
  color:#000000;
  text-decoration:none;
  width:116px;
  height:21px;
  background:url(../images/nav_bg.png);
  margin-top:3px;
  margin-left:11px;
  line-height:21px;
}
#con{
  width:980px;
  height:660px;
  margin:0px auto;
  overflow:hidden;
  background:#FFFFFF;
}
#con img{
  margin-top:20px;
}
.left{
  width:210px;
  height:580px;
  float:left;
  margin-top:50px;
}
.left img{
  float:left; 
}
.line{
  width:180px;
  height:130px;
  border-top:1px #666 solid;
  margin:120px auto;
  padding-top:20px;
}
.left p{
  width:150px;
  margin-left:35px;
  background:url(../images/redarrow.png) left no-repeat;
}
.left a{
  color:#000;
  font-size:16px;
  line-height:40px;
  margin-left:30px;
}
.left a:hover{
  color:#c53410;
}
.centre{
  width:2px;
  height:660px;
  background:#c53410;
  float:left;
}
.right{
  width:768px;
  height:580px;
  float:left;
  margin-top:50px;
}
.right pre{
  width:720px;
  line-height:30px;
  font-size:20px;
  margin:0px auto;
  margin-bottom:20px;
  font-weight:bolder;
  color:#000000;
  border-bottom:1px #333 dashed;
}
.yq{
  width:700px;
  margin:0 auto;
  height:500px;
}
.yq span{
  font-size:17px;
  line-height:24px;
  color:#000000;
}
.yq p{
  font-size:14px;
  color:#000;
  font-weight:bold;
  margin-left:35px;
  line-height:28px;
}
.yq button {
  float:left;
  margin-left:420px;
}
#footer{
  height:118px;
  border-top:#c53410 4px solid;
  background:#000000;
  font-size:12px;
}
#footer p{
  line-height:20px;
  float:left;
  margin:15px 0px 0px 185px;
  color:#FFFFFF; 
}
#footer h3 a{
  float:right;
  margin-top:65px;
  color:#fff;
  font-size:20px; 
  margin-right:120px;
}
#footer h3 a:hover{
  text-decoration:underline;
}
.link{
  width:978px;
  height:30px;
  margin:65px auto;
  text-align:center;
  line-height:30px;
  color:#666666;
  border-top:#666 1px dashed;
}







