/*背景图居中显示*/
body{
	margin:0 auto;
	background: #FFFFFF url(../images/bg.png) no-repeat top center;
	font-size:12px;
	color:#616161;
	background—size:100%;
	background-color: #fcfcfc;
}
/*页脚*/
#footer{
  height:118px;
  width:100%;
  border-top:#c53410 4px solid;
  background:#000000;
  margin-top:10px;
  font-size:12px;
}
/*页脚文字*/
#footer .contact{
	line-height:20px;
	color:#FFFFFF;
	margin: 30px auto;
	width: 444px;
}